

.h11 {
    color: green;
    size: 15px;
    margin-bottom: 10px;

}
.h12 {
    color: red;
    size: 22px;
    margin-bottom: 10px;

}

.span1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    margin-bottom: 10px;

}

.span2 {
    font-family: 'Courier New', Courier, monospace ;
    font-weight: 300;
    margin-bottom: 10px;

}

.div1 {
    color: yellow;
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
}

.div2 {
    color: red;
    height: 300px;
    width: 600px;
    margin-bottom: 10px;

}

.div1 {
    color: green;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-bottom: 10px;

}
